@font-face {
  font-family: 'Hanken Grotesk';
  src: url('../../public/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
 
  }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.main {
  width: 315px;
  margin: 0 auto;
}


.header {
  height: 356px;
  display: flex;
  justify-content: flex-start;
  border-radius: 0px 0px 32px 32px;
  background: var(--gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
  box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  flex-direction: column;
  align-items: center;
}

.header h1 {
  color: var(--light-blue, #CAC9FF);
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
}

.header > h2 {
  color: var(--white, #FFF);
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 24px;
}

.header>p {
  width: 260px;
  color: var(--light-blue, #CAC9FF);
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 8px;
}

.circle {
  width: 140px;
  height: 140px;
  background: linear-gradient(180deg, #4D21C9 0%, rgba(37, 33, 201, 0.00) 100%, rgba(37, 33, 201, 0.00) 100%);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
  
}

.circle > span {
  color: var(--white, #FFF);
  text-align: center;
  font-family: Hanken Grotesk;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: 72px; /* 128.571% */
}

.circle > p {
  color: var(--light-blue, #CAC9FF);
font-family: Hanken Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.summary {
  margin: 24px 0 24px 0;
 

}

.summary>h3 {
  color: var(--dark-navy, #303B59);
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.card {
  width: 315px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 12px;
  margin-bottom: 16px;
  padding: 0 16px;
  
}

.card img {
  width: 20px;
  height: 20px;
  margin-right: 12px;
}

.card-left {
  display: flex;
}

.card-left p {
  font-family: Hanken Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.card-right {
  color: var(--dark-navy, #303B59);
  text-align: right;
  font-family: Hanken Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-right span {
  opacity: 0.5;
}

button {
  width: 315px;
  height: 56px;
  flex-shrink: 0;
  border: none;
  border-radius: 128px;
  border-radius: 128px;
  background: var(--dark-navy, #303B59);
  color: var(--white, #FFF);
  margin-top: 24px;


  /* Body (Bold) */
  font-family: Hanken Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

button:hover {
  background: var(--gradient-1, linear-gradient(180deg, #75F 0%, #6943FF 0.01%, #2F2CE9 100%));
}

@media only screen and (min-width: 900px) {

  body {
    background: var(--very-light-blue, #ECF2FF);
  }

  main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .container {
    width: 736px;
    height: 512px;
    display: flex;
    border-radius: 32px;
    background: var(--white, #FFF);
    box-shadow: 0px 30px 60px 0px rgba(61, 108, 236, 0.15);
  }

  .header {
    width: 368px;
    height: 512px;
    border-radius: 32px;
    justify-content: space-evenly;
    padding: 25px;
  }

  .header h1 {
   
    padding-top: 0;
    font-size: 24px;
  }

  .header h2 {
    font-size: 32px;
  }

  .header p {
    font-size: 18px;
  }

  .summary>h3 {
    margin-top: 38px;
  }

  .circle {
    width: 200px;
    height: 200px;
    font-size: 72px;
    

  }
}